.side-nav {
  width: 250px;
  height: 100vh;
  background-color: #ebe4dc;
  border-radius: 0;

  .side-nav-content {
    padding: 0;

    .side-nav-item {
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #e5dbd0;
      }

      &.selected {
        background-color: #dfd3c5;
      }

      .center {
        text-align: center;
      }

      .new-category-input {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px;

        mat-form-field {
          flex-grow: 1;
          margin-right: 8px;
        }
      }
    }
  }
}
